
.cat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(113, 113, 113, 0.25);

  .cat-idx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 80vw;
    height: 15vh;
    padding: 10px 0vw 0px 5vw;
    
    .cat-idx-li {

      .cat-idx-item {
          width: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          padding-bottom: 10px;
          color: #717171;
          border: 2px solid transparent;
          filter: invert(0.2);
          transition: 0.1s;

          .cat-idx-item-img {
            width: 28px;
            height: 28px;
          }

          span {
            border-bottom: 2px solid transparent;
            padding-bottom: 10px;
          }
      }

      .cat-idx-item:hover {
        // color: #222222;
        filter: invert(0);
        transition: 0.1s;

        span {
          color: #222222;
          border-bottom: 2px solid rgba(113, 113, 113, 0.25);
        }
      }
    }
  }

  .filter-button {
    display: flex;
    align-items: center;

    margin-left: 3vw;
    margin-right: 5vw;

    width: fit-content;
    height: fit-content;

    border-radius: 10px;
    border: 1px solid rgba(113, 113, 113, 0.25);
    padding: 15px;

    background-color: white;
    text-decoration: none;

    .filter-img {
      width: 18px;
      height: 18px;
    }

    span {
      margin-left: 5px; 
    }
  }

  .filter-button:hover {
    cursor: pointer;
  }
}